<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.url">jdbc:mariadb://49.234.155.178:3306/everitoken</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">false</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="CustomerEntity.hbm.xml"/>
    <mapping class="everitoken.entity.CustomerEntity"/>
    <mapping resource="UserEntity.hbm.xml"/>
    <mapping class="everitoken.entity.UserEntity"/>
    <mapping resource="GovernmentEntity.hbm.xml"/>
    <mapping class="everitoken.entity.GovernmentEntity"/>
    <mapping resource="ProducerEntity.hbm.xml"/>
    <mapping class="everitoken.entity.ProducerEntity"/>
    <mapping resource="RecylingStationEntity.hbm.xml"/>
    <mapping class="everitoken.entity.RecylingStationEntity"/>
  </session-factory>
</hibernate-configuration>